# --- Specific .py files to exclude ---
# List the exact file(s) you don't want pushed
plotFeedstockData.py
calcAdiabaticTemperature_SI.py
plotAdiabaticTemp_SI.py
plotAdiabaticTemp_emissionReductionPotential.py
plotAdiabaticTemp_main.py
Inputs/biomass_feedstock_categories.xlsx
Inputs/ReducedDataset.csv


# --- Exclude everything in Inputs, but keep specific files ---
# This ignores all contents of Inputs/ first...
_archive/*
Outputs/*
# ...then un-ignores the specific files you want to keep
!Outputs/biomassData.xlsx
.DS_Store
!Outputs/biomassFeedstockData.csv
